* {
    box-sizing: border-box;
}

.select {
    position: relative;
    width: 100px;
    height: 30px;
    border-radius: 5px;
}

.selectTitle {
    position: relative;
    margin: 0;
    padding: 5px;
    min-height: 30px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #838383;
    cursor: pointer;
}

.selectTitle::after {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    right: 5px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

.selectTitleActive:after {
    transform: rotate(-135deg);
}

.itemsList {
    position: absolute;
    top: 32px;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
}

.item {
    padding: 5px;
    background-color: #fff;
    border: 1px solid #000000;
    border-radius: 4px;
    box-shadow: 2px 5px 10px #838383;
    cursor: pointer;
}

.item:hover {
    color: white;
    background-color: cornflowerblue;
}

.item.selected {
    color: white;
    background-color: cornflowerblue;
}
